@use "../variables" as *;

[#{$depth__namespace}\:layout]{
  &[#{$depth__namespace}\:layout~="grid"]{
    display: grid;
  }
  &[#{$depth__namespace}\:layout~="flex"]{
    display: flex;
    &[#{$depth__namespace}\:layout~="equal-width"]{
      >*{
        flex: 1;
      }
    }
    &[#{$depth__namespace}\:flex]{

    }
    @for $i from 1 through 8 {
      &[#{$depth__namespace}\:gap~="#{$i * 2}"]{
        gap: #{$i * 2}px;
      }
    }
  }
}
